<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/template/templateNew.xhtml">


	<ui:define name="content">

		<div class="col-md-12">
			<div class="box box-danger">
				<div class="nav-tabs-custom">
					<div class="tab-content">
						<H1>Add Dilevry Man</H1>
						<h:form>
						<br/>
							<div class="col-md-6">
								<div class="form-group">
                                       <div>Nom</div>
									<h:inputText value="#{DeliveryManBean.deliveryMan.usersName_d}"
										type="text" class="form-control" />
								</div>
								<div class="form-group">
                                     <h:outputText value="Email" />
									<h:inputText
										value="#{DeliveryManBean.deliveryMan.usersEmail_d}"
										type="text" class="form-control" />
								</div>
								<div class="form-group"></div>
								<h:outputText value="Ville" />
								<div class="form-group">
									<h:inputText value="#{DeliveryManBean.deliveryMan.ville_d}"
										type="text" class="form-control" />
								</div>


							</div>
							<div class="col-md-6">
								<div class="form-group">
								<h:outputText value="Prenom" />
									<h:inputText
										value="#{DeliveryManBean.deliveryMan.usersLastname_d}"
										type="text" class="form-control" />
								</div>
								<div class="form-group">
								<h:outputText value="N Cin" />
									<h:inputText value="#{DeliveryManBean.deliveryMan.usersCin_d}"
										type="text" class="form-control" />
								</div>

								<div class="form-group">
									<h:outputText class="card-title" value="Date Naissance" />
									<div class="input-group">
										<div class="input-group-prepend datepicker-icon"
											style="cursor: pointer;">
											<span class="input-group-text"><i
												class="fa fa-calendar"></i></span>
										</div>
										<h:inputText id="dtdm" styleClass="form-control datepicker"
											style="padding-left:12px;"
											value="#{DeliveryManBean.deliveryMan.dateNaissance_d}"
											autocomplete="off" required="true"
											requiredMessage=" le date">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:inputText>
									</div>
									<h:message for="dtdm" style="color:red"></h:message>
								</div>
								<div class="col-sm-2">
												 

													<h:commandButton value="Add "
														action="#{DeliveryManBean.addGeliberyMan()}"
														update="@form"
														class="btn btn-danger pull-right btn-block btn-sm" />

												</div>
								
							</div>

						</h:form>

					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
