<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/template/templateNew.xhtml">


	<ui:define name="content">
	
	<div class="col-sm-9">
												<div class="form-group">
                                     <h:outputText value="Nom" />
									<h:inputText
										value=""
										id="nom"
										type="text" class="form-control" />
								           </div>
								           
								          
													<div class="img-push">

														<h:inputTextarea value="" id="comment"
															type="text" class="form-control" rows="4" cols="50"
															
															 />
                                                </div>
                                               
												<div class="col-sm-9">
												 

													<h:button value="Submit" onclick="getValue()"
														
														class="btn btn-danger pull-right btn-block btn-sm" />

												</div>
												
												
												</div>
	
	
	
	
	
	
	
	
	
	
	<canvas id="bar-chart" width="800" height="450"></canvas>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="../resources/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script language="javascript">//<![CDATA[
// Bar chart

	 
function getValue() { 
	   
    var input = $("#nom").val();
    var cmt = $("#comment").val();
    alert(input);
    alert(cmt);
    console.log(input);
    console.log(cmt);
}

var hot;

		 $.getJSON('http://localhost:40740/api/Products', function (data) {
          hot= data;
          
         
          console.log("okkkkkk" +hot);
          
          
 		 for(var i=0; i<hot.length; i++){
 			 
 			 console.log("ooo" + hot[i].Libelle);
 			 var libelle=hot[i].Libelle;
 			 
 			//$("#test").prepend(libelle);
 			
 			 new Chart(document.getElementById("bar-chart"), {
 				 
 			
 				
 			    type: 'bar',
 			    data: {
 			      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
 			      datasets: [
 			        {
 			          label: "Population (millions)",
 			          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
 			          data: [2478,5267,734,784,433]
 			        }
 			      ]
 			    },
 			    options: {
 			      legend: { display: false },
 			      title: {
 			        display: true,
 			        text: 'Statistique produit le plus reclamer'
 			      }
 			    }
 			});
 		 }
 
      })
      
     

//]]>
</script>	
	</ui:define>
	
</ui:composition>