<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/template/templateNew.xhtml">


	<ui:define name="content">
	
			<p>
               
                <h:inputText  name="category" id="search" placeholder="chercher"
										type="text" class="form-control" />
            </p>
			
			 <div class="table-responsive">
                                <table class="table " id="contenu">
                                    <thead id="filter">
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                             <th>N CIN</th>
                                              <th>Date</th>
                                              <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <ui:repeat value="#{DeliveryManBean.lst}" var="entry">
                                    <tbody>
                                        <tr>
                                            <td class="txt-oflo"><p> #{entry.usersName_d}</p></td>
                                            
                                            <td class="txt-oflo">#{entry.usersLastname_d}</td>
                                           
                                            <td class="txt-oflo">#{entry.usersCin_d}</td>
                                            
                                            <td class="txt-oflo">#{entry.dateRegister_d}</td>
    <td>                                        
     <div id="PDFcontent">
    <h3 hidden="true">Factures</h3>

 

    <p hidden="true">
<div hidden="true">Nom:   </div>
<div hidden="true">Livreur:   </div><p  hidden="true">#{entry.usersName_d} </p>
<div hidden="true">Produit: </div><p  hidden="true" id="name"></p>

<div hidden="true">libelle: </div><p  hidden="true" id="test"></p>

<div hidden="true">Prix: </div> <p hidden="true" id="prix"> </p> 

<div hidden="true">Prix Livraison :</div><p hidden="true" id="prixl"> </p>
<div hidden="true">PrixTT:</div><p hidden="true" id="total"> </p> 


<div hidden="true">#{entry.dateRegister_d}</div>
</p>

  </div>

     <div id="ignoreContent">

     <p hidden="true">Only for display and not in pdf</p>

    </div>
      </td>                                    <td><button id="gpdf">factures livraison</button></td>
                                        </tr></tbody>
                                        </ui:repeat>
                                        </table>
             
             
                                        </div>
                                        
                                        
    

                                       
                                        
    <script src="../resources/js/jquery-3.2.1.js"></script>
    <script src="../resources/js/jsPdf.js"></script>                                    
  


 <script>//<![CDATA[
	
var pdfdoc = new jsPDF();
var specialElementHandlers = {

'#ignoreContent': function (element, renderer) {

return true;

}

};

 

$(document).ready(function(){

$("#gpdf").click(function(){

pdfdoc.fromHTML($('#PDFcontent').html(), 10, 10, {

'width': 110,

'elementHandlers': specialElementHandlers

});

pdfdoc.save('First.pdf');

});});



var Prixl=5;
var hot;
alert("ghgff");
console.log("okkkkkk");
		 $.getJSON('http://localhost:40740/api/Products', function (data) {
            hot = data;
            
            
            console.log("okkkkkk" + hot);
            
            
   		 for(var i=0; i<hot.length; i++){
   			
   			 console.log("ooo" + hot[i].Libelle);
   			 var libelle=hot[i].Libelle;
   			var Name=hot[i].Name;
   			var Prix=hot[i].Price;
   			var total=hot[i].Price+ Prixl;
   			 
   			$("#test").prepend(libelle);
   			$("#prix").prepend(Prix);
   			$("#name").prepend(Name);
   			$("#prixl").prepend(Prixl);
   			$("#total").prepend(total);
   		 }
   
        })
        
        
        
        
            $(document).ready(function () {


        var colonnes = {};
        $("#contenu thead th").each(function (index, th) {
            colonnes[index] = $(th).text();
        }
        );

        // faire la recherche dans le tableau
        $("#search").keyup(function () {
            var mots = $(this).val().toLowerCase().split(" ");
            $("#contenu tbody tr").each(function (index, tr) {
                if (mots[0].length > 0) $(tr).hide(); else $(tr).show();
                $("td", tr).each(function (index, td) {
                    if (colonnes[index] in { 'Nom': true, 'Prenom': true, 'Etat': true, 'Ville': true }) {
                        for (mot in mots) {
                            if (mots[mot].length > 0 && $(td).text().toLowerCase().indexOf(mots[mot]) >= 0) {
                                $(tr).show();
                                return false;
                            }
                        }
                    }
                });
            });
        });

    });
        
		
//]]>
</script>

   
			
	</ui:define>
</ui:composition>



