<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/template/templateNew.xhtml">


	<ui:define name="content">
	
		<p id="test">     </p>
		
		
		<ui:repeat value="#{ProductBean.lst}" var="entry">
									<div class="post clearfix">
										<div class="user-block">
											<img class="img-circle img-bordered-sm"
												src="data:image/jpeg;base64,#{entry.image}"
												alt="User Image" /> <span class="username"> <a
												href="#"> #{entry.name}
													</a> <a href=""
												class="pull-right btn-box-tool"> <i class="fas fa-trash"></i>
											</a> <a href="" class="pull-right btn-box-tool"><i
													class="fas fa-edit"></i></a>

											</span> <span class="description"> <h:outputText
													converterMessage="#{i18n['converter-message']}"
													value="#{entry.description}">
													<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
												</h:outputText>

											</span>
											
											 <span class=""> 
											
                                              Prix:#{entry.price} Dt
                                             
											</span>
										</div>
										
										<a class="trigger_popup_fricc">Commenter</a>
										</div>
										
										<div>
										
										<p id="nomcmt"></p>
										</div>
										<div>
										
										<p id="commentlist"></p>
										</div>
										
									

		</ui:repeat>
		 <ui:repeat value="#{ShopsBean.lst}" var="entry"> 
		 
		 <p>user:#{entry.nameShop} #{entry.descriptionShop} #{entry.dateShop} </p>
		 </ui:repeat>                  
	                              <h:form>
                                <div class="hover_bkgr_fricc">
                                 <span class="helper"></span>
                               <div>
                                   <div class="popupCloseButton"></div>   
                                   
                                                <div class="col-sm-9">
												<div class="form-group">
                                     <h:outputText value="Nom" />
									<h:inputText
										value="#{ShopsBean.shops.nameShop}"
										id="nom"
										type="text" class="form-control" />
								           </div>
								           
								          
													<div class="img-push">

														<h:inputTextarea value="#{ShopsBean.shops.descriptionShop}" id="comment"
															type="text" class="form-control" rows="4" cols="50"
															
															 />
                                                </div>
                                               
												<div class="col-sm-9">
												 

													<h:commandButton value="Add "
														action="#{ShopsBean.addShops()}"
														update="@form"
														class="btn btn-danger pull-right btn-block btn-sm" />

												</div>
												
												
												</div>
												
											  </div>
                                       </div>
											
									</h:form>		
		
		<script src="../resources/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script language="javascript">//<![CDATA[

$(window).load(function () {
    $(".trigger_popup_fricc").click(function(){
       $('.hover_bkgr_fricc').show();
      
    });
    
    $('.popupCloseButton').click(function(){
        $('.hover_bkgr_fricc').hide();
        
       
    });
    
});


	 
function getValue() { 
	   
    var input = $("#nom").val();
    var cmt = $("#comment").val();
    alert(input);
    alert(cmt);
    var data1=[input];
    var data2=[cmt];
    alert(data1);
    alert(data2);

    
    console.log(data1);
    console.log(data2);
    
    $("#nomcmt").prepend(input);
    $("#commentlist").prepend(cmt);
}


	
var hot;



		 $.getJSON('http://localhost:40740/api/Shops', function (data) {
            hot = data;
            
         
            console.log("okkkkkk" + hot);
            
            
            
          
            
            
   		 for(var i=0; i<hot.length; i++){
   			 
   			 console.log("ooo" + hot[i].NameShop);
   			 var libelle=hot[i].NameShop;
   			 var libelle1=hot[i].DescriptionShop;
   			//$("#nomcmt").prepend(libelle);
   			//$("#commentlist").prepend(ibelle1);
   		 }
   
        })
        
    
		 
	
       
		//]]>
		</script>

	</ui:define>
	
</ui:composition>