<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:p="http://primefaces.org/ui"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough" lang="fr"
	xmlns:c="http://java.sun.com/jstl/core"
	template="/template/templateNew.xhtml">


	<ui:define name="content">


		<div class="col-md-12">
			<div class="box box-danger">
				<div class="nav-tabs-custom">
					<div class="tab-content">
						<div class="active tab-pane" id="activity">

							<div class="post clearfix">
								<div class="user-block">
									<img class="img-circle img-bordered-sm"
										src="data:image/jpeg;base64,ss" alt="User Image" /> <span
										class="username"> <a href="#"> ****** </a>

									</span>

								</div>

								<p></p>
							</div>

							<h:form>
								<ui:repeat value="#{PublishBean.list}" var="entry">
									<div class="post clearfix">
										<div class="user-block">
											<img class="img-circle img-bordered-sm"
												src="data:image/jpeg;base64,#{entry.publish.myUsers.image}"
												alt="User Image" /> <span class="username"> <a
												href="#"> #{entry.publish.myUsers.usersLastname}
													#{entry.publish.myUsers.usersName} </a> <a href=""
												class="pull-right btn-box-tool"> <i class="fas fa-trash"></i>
											</a> <a href="" class="pull-right btn-box-tool"><i
													class="fas fa-edit"></i></a>

											</span> <span class="description"> Shared publicly - <h:outputText
													converterMessage="#{i18n['converter-message']}"
													value="#{entry.publish.datePublish}">
													<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
												</h:outputText>

											</span>
										</div>

										<p>#{entry.publish.subjet}</p>
										
										<a id="@p.id" onclick="" class="btn btn-tool" data-widget="remove">
			                                <div id="">
			                                    
			                                        <span class="fas fa-thumbs-up"></span>
			                                     
			                                        <span class="far fa-thumbs-up"></span>
			                                    
			                                </div>
                            			</a>
										<ul class="list-inline">
											<li><br /></li>

											<li class="pull-right"><a href="#"
												class="link-black text-sm"> <i
													class="fa fa-comments-o margin-r-5"></i> Comments
													#{entry.publish.lstcomments.size()}
											</a></li>
										</ul>

										<div class="box-footer">

											 
												<img class="img-responsive img-circle img-sm"
													src="data:image/jpeg;base64,#{entry.publish.myUsers.image}"
													alt="Alt Text" /> 
													 
												<div class="col-sm-9">
													<div class="img-push">

														<h:inputText value="#{entry.publishComent.content}"
															type="text" class="form-control"
															placeholder="Enter a comment"
															onkeydown="if (event.keyCode === 13) { return false; }" />

													</div>
												</div>
												<div class="col-sm-2">
													<!-- 
																									<button type="submit"
														class="btn btn-danger pull-right btn-block btn-sm">Send</button>-->

													<h:commandButton value="Commenter"
														action="#{PublishBean.addComment(entry.publishComent)}"
														update="@form"
														class="btn btn-danger pull-right btn-block btn-sm" />

												</div>
											 
										</div>
										<div class="box-footer box-comments">
											<ui:repeat value="#{entry.publish.lstcomments}" var="entry2">
												<div class="box-comment">

													<img class="img-circle img-sm"
														src="data:image/jpeg;base64,#{entry2.myUsers.image}"
														alt="User Image" />
													<div class="comment-text">
														<span class="username">


															#{entry2.myUsers.usersLastname}
															#{entry2.myUsers.usersName} <span
															class="text-muted pull-right"> <h:outputText
																	id="date"
																	converterMessage="#{i18n['converter-message']}"
																	value="#{entry2.dateCreation}">
																	<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
																</h:outputText>



														</span>

														</span> #{entry2.content}
													</div>

												</div>

											</ui:repeat>
										</div>
									</div>



								</ui:repeat>
							</h:form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>